# **20.**
에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있다. 총 금액은 계산한 후 이를 화면에 출력하기

In [ ]:
price = 48584 ; month = 36
print(price*month)

1749024

# **21.**
letters에 python을 바인딩하고 그 문자열에서 첫 번째와 세 번째 문자를 출력하기

In [ ]:
letters = 'python'
print(letters[1-1],letters[3-1])

p t

# **22.**
자동차 번호가 '24가 2210'일 때, 뒤에 4자리만 출력하기

In [ ]:
license_plate = '24가 2210'
print(license_plate[-4:])

2210

# **24.**
문자열 'PYTHON'을 거꾸로 뒤집어 출력하기

※ **리스트 슬라이싱 : [시작:끝:증감폭]**

In [ ]:
string = 'PYTHON'
print(string[::-1])

NOHTYP

# **25.**
전화번호 '010-1111-2222'에서 하이푼('-')을 제거하고 출력하기

In [ ]:
phone_number = '010-1111-2222'
phone_number = phone_number.replace('-',' ')
print(phone_number)

010 1111 2222

# **34.**
변수에 'python'과 'java'를 바인딩하고, 문자열 더하기와 문자열 곱하기를 사용해서 python java python java python java python java 출력하기

In [ ]:
t1 = 'python'
t2 = 'java'

print((t1+' '+t2+' ')*4)

python java python java python java python java

# **37.**
파이썬 3.6부터 지원하는 f-string을 사용해서 바인딩되는 문자열과 정수를 출력하기

In [ ]:
name1 = '김민수' ; age1 = 10
name2 = '이철희' ; age2 = 13

print(f'이름 : {name1} , 나이 : {age1}')
print(f'이름 : {name2} , 나이 : {age2}')

이름 : 김민수 , 나이 : 10
이름 : 이철희 , 나이 : 13

# **40.**
문자열의 좌우의 공백이 있을 때, 이를 제거하기

In [ ]:
data = '    삼성전자    '
data = data.strip()
print(data)

삼성전자

# **41, 42.**
문자열을 대문자 or 소문자로 변경하기

In [ ]:
ticker = 'btc_krw'
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [ ]:
ticker = 'BTC_KRW'
ticker = ticker.lower()
print(ticker)

btc_krw

# **45.**
파일 이름이 'xlsx'나 'xls'로 끝나는지 확인하기

In [ ]:
file_name = '보고서.xlsx'

file_name.endswith(('xlsx','xls'))

True

# **46.**
파일 이름이 '2020'로 시작하는지 확인하기

In [ ]:
file_name = '2020_보고서.xlsx'
file_name.startswith('2020')

True

# **50.**
문자열의 오른쪽에 공백이 있을 때 이를 제거해보기

※ rstrip() : 오른쪽 공백이 제거된 새로운 문자열 객체 반환

In [ ]:
data = '039490     '

data = data.rstrip()
print(data)

039490

# **53.**
movie_rank 리스트에 '슈퍼맨'을 '닥터 스트레인지'와 '스플릿' 사이에 추가하기

In [ ]:
movie_rank = ['닥터 스트레인지','스플릿','럭키','배트맨']

movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

# **54.**
movie_rank 리스트에서 '럭키'를 삭제하기

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

# **67.**
interest 리스트를 문자열로 붙이기

※ join() : 리스트를 문자열로 붙일 수 있음

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

# **81.**
10개의 값이 저장된 scores 리스트가 있을 때, start expression(별 표현식)을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하기

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

# **89.**
딕셔너리에서 메로나를 삭제하기

In [ ]:
ice = {'메로나': 1000,
       '폴라포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# **98.**
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하기

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

# **99.**
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장하기

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

# **121.**
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자일 경우, 소문자로 변경해서 출력하기

※ islower() : 문자의 소문자 여부를 판별

In [ ]:
letter = input('')
if letter.islower():
  print(letter.upper())
else:
  print(letter.lower())

a
A

# **129.**
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [ ]:
number = input('주민등록번호: ')
number1 = number.split('-')[0] + number.split('-')[1]

number2 = [2,3,4,5,6,7,8,9,2,3,4,5]

s = 0
for i in range(len(number2)):
  s += int(number1[i])*int(number2[i])

if (11-(s % 11)) == int(number1[-1]):
  print('유효한 주민등록번호입니다.')
else:
  print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

# **130.**
비트코인의 가격 정보를 딕셔너리로 가져오는 코드를 이용해, btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하기

|Key Name|Description|
|-:-|-:-|
|opening_price|최근 24시간 내 시작 거래금액|
|closing_price|최근 24시간 내 마지막 거래금액|
|min_price|최근 24시간 내 최저 거래금액|
|max_price|최근 24시간 내 최고 거래금액|

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)

변동폭 = int(btc['max_price']) - int(btc['min_price'])
시가 = int(btc['opening_price'])

if 시가+변동폭 > int(btc['max_price']):
  print('상승장')
else:
  print('하락장')

{'opening_price': '28468000', 'closing_price': '28315000', 'min_price': '28003000', 'max_price': '28825000', 'units_traded': '5503.50299802', 'acc_trade_value': '155978372900.8236', 'prev_closing_price': '28468000', 'units_traded_24H': '7733.42788019', 'acc_trade_value_24H': '218786693743.7596', 'fluctate_24H': '240000', 'fluctate_rate_24H': '0.85', 'date': '1657357236548'}
상승장

# **179.**
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하기

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(4):
  print((my_list[i] + my_list[i+1] + my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

# **191.**
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다. 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하기

In [ ]:
data = [
    [2000,3050,2050,1980],
    [7500,2050,2050,1980],
    [15450,15050,15550,14900]
]

for i in range(len(data)):
  for j in range(len(data[i])):